<nb-layout  windowMode class=".col-12 .col-sm-6 .col-md-8" >

    <nb-layout-header fixed  >
      <app-header style="width: 100%;"></app-header>
      
    </nb-layout-header>
  
    <nb-sidebar  tag="left" responsive  >
      
      <app-main-menu ></app-main-menu>
      <!-- <ng-content select="nb-menu"></ng-content> -->
      
                 
    </nb-sidebar>
  
    <nb-layout-column>
      <nb-card>
        <nb-card-body>
          
          <router-outlet></router-outlet>
        </nb-card-body>
      </nb-card>

    </nb-layout-column>
  
  </nb-layout>
