<div class="card">
    <div class="modal-header">
        <h5>Confirm Delete</h5>
        <button type="button" class="close" aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label>Are you sure you want to delete this item?</label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="decline()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="accept()">Ok</button>
    </div>
</div>
