
<form>
    <div class="row">
        <div class="col-lg-6 col-xl-5 col-md-9 mx-auto">
            <div class="card mt-4">
                
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6"><h4>Register</h4></div>
                        <div class="col-md-6">
                            <a routerLink="/Auth/login" class="offset-md-8">Login</a>
                        </div>
                        </div>
                        
                        
                    </div>
                
                <div class="card-body">
                    <form role="form" #MySelectForm="ngForm" (submit)="onFormSubmit()">
                        <div class="form-group form-row">
                            <label for="username" class="col-md-4 col-form-label">Username</label>
                            <div class="col-md-8">
                                <input type="text" [(ngModel)]="registerModel.userName" required class="form-control" name="1" autofocus>
                            </div>
            
                        </div>
                        <div class="form-group form-row">
                            <label for="password"  class="col-md-4 col-form-label">Password</label>
                            <div class="col-md-8">
                                <input type="password" [(ngModel)]="registerModel.password" required class="form-control" name="2" />
                            </div>
                            
            
                        </div>
                        <div class="form-group form-row">
                            <label for="email" class="col-md-4 col-form-label">Email</label>
                            <div class="col-md-8">
                                <input type="email" [(ngModel)]="registerModel.email" required class="form-control" name="email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">
                                Register
                            </button>
            
                        </div>
                    </form>
                </div>
            </div>
        </div>  
    </div>
</form>


